/********************************************************************************
CSS TABLE OF CONTENTS
===== Base ====
    |-- 1.0 - Reset
    |-- 2.0 - Gobal
    |-- 3.0 - Navbar
    |-- 4.0 - About
    |-- 5.0 - Project
    |-- 6.0 - Footer
    |-- 7.0 - Responsive
********************************************************************************/

/********************************** 1.0 - Reset ********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/***************************** 2.0 - Global ******************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box; 
  padding: 0;
  margin:0; 
}

html,
body {
  font-family: "QuickSand", sans-serif;
  font-weight: 100;
  background: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

/***************************** 2.0 - Header ******************************/
.header { 
  background-color: rgba(26, 25, 25, 0.582);
  border-bottom: rgb(255, 255, 255) .08em solid;
  display: flex;
  height: 2.3em;
  width: 100%;
  font-size: 1.3em;
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}


/***************************** 3.0 - Current Weather ******************************/
.current_weather_flex{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.current_weather_background {
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background: rgba(24, 24, 24, 0.5);
  padding: .1em;
  width: 80%;
  border-radius: 10px;
  margin-top: 4em;
}

.search_form {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 2em;
  padding: 0 
}

input.search_input {
  width: 50%;
  border-radius: 400px;
  padding: .5em;
  background: rgba(48, 47, 47, 0.74);
  color:white;
  height: 3em;
  border: 1px solid rgb(255, 255, 255);
}

.search_btn {
  border-radius: 50%;
  padding: 1em;
  background: rgba(48, 47, 47, 0.74);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  font-size: .8em;
}

.current_weather_container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em 0;
}

.description_section{
  text-align: center;
}

.description {
  text-align: center;
}

.today_temp{
  text-align: center;
  margin: .2em auto;
}

.search_history {
  background: rgba(24, 24, 24, 0.5);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  width: 20%;
  color: white;
  padding-right: 2em;
  display: flex;
  display: column;
}

.saved_city {
  padding: .2em;
}

.saved_city button {
  color: white;
  border-radius: 10px;
  padding: .5em 1em;
  margin: .2em;
  background: rgba(156, 147, 147, 0.5);
  border: 1px solid rgb(255, 255, 255);
}

.city_results_container {
  justify-content: center;
  align-items: center;
  padding: 2em 0 .5em 0;
  width: 30%;
  background: rgb(2, 35, 85);
  border: 2px solid rgb(255, 255, 255);
  margin: 0 -2em;
  overflow: hidden;
  padding: 1em;
  border-radius: 10px;
  z-index: 3;
}

.city_country {
  font-size: 1.5em;
  margin: 1em auto .1em;
  text-align: center;
}

.current_image{
  display: flex;
  justify-content: center;
}



.current_header {
  display: flex;
  justify-content: space-between;
}

.other_weather_data {
  background: rgba(24, 24, 24, 0.5);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  width: 25%;
  color: white;
  max-height:90%;
  padding-left: 2em;
}

.other_weather_item {
  display: flex;
  justify-content: space-between;
  padding: 1em .5em;
}

.weather_item_title {
  font-size: .9em;
  padding: 0.9;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.severe {
  background-color: red;
}

.transparent {
  background-color: transparent;
}


/***************************** 3.0 - Current Weather ******************************/
.forecast_background {
  background:rgba(24, 24, 24, 0.7);
  border-top: rgb(255, 255, 255) .08em solid;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 25%;
}

.forecast{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.weeks_forecast {
  border: 1px white solid;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  justify-content: space-between;
}

.weeks_forecast:hover {
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.801); 
}

.day_of_week {
  background: rgb(75, 72, 72);
  border: 1px white solid;
  padding: 0.3em 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
}

.temp {
  font: .7;
}

@media screen and (max-width:720px) {
  body {
    overflow: scroll;
  }
}