/********************************************************************************
CSS TABLE OF CONTENTS
===== Base ====
    |-- 1.0 - Reset
    |-- 2.0 - Gobal
    |-- 3.0 - Navbar
    |-- 4.0 - About
    |-- 5.0 - Project
    |-- 6.0 - Footer
    |-- 7.0 - Responsive
********************************************************************************/

/********************************** 1.0 - Reset ********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/***************************** 2.0 - Global ******************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box; 
  padding: 0;
  margin:0; 
}

body {
  font-family: "QuickSand", sans-serif;
  background: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.main_container {
  font-weight: 100;
}

.header { 
  background-color: rgba(26, 25, 25, 0.582);
  border-bottom: rgb(255, 255, 255) .08em solid;
  top: 0;
  height: 2em;
  padding: .5em;
  width: 100%;
  font-size: 2em;
  color: white;
  text-align: center;
}

.location_info {
  padding: 3em 7em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0;
}

.time {
  font-size: 3em;
}

.am_pm {
  font-size: 1em;
}

.current_day {
  font-size: 2em;
}

.location {
  font-size: 2em;
}

.search_background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.search_container {
  padding: 2em;
  flex-direction: column;
  width: 35%;
  padding: .5em;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  display: flex;
  background: rgba(24, 24, 24, 0.5);
}

.search_form {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 2em;
}

input.search_bar {
  width: 80%;
  border-radius: 400px;
  padding: .5em;
  background: rgba(48, 47, 47, 0.74);
  color:white;
  height: 3em;
  border: 1px solid rgb(255, 255, 255);
  
}

.search_btn {
  border-radius: 50%;
  padding: 1em;
  background: rgba(48, 47, 47, 0.74);
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.results_container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 2em 0 .5em 0;
}

.current_forecast {
  width: 40%;
  background: rgb(2, 35, 85);
  border: 2px solid rgb(255, 255, 255);
  margin-right: -2em;
  overflow: hidden;
  z-index: 50;
  padding: 1em;
  border-radius: 10px;
  min-height: 12em;
}


.other_weather_data {
  background: rgba(24, 24, 24, 0.5);
  padding: 1em;
  border-radius: 10px;
  margin: 1em 0;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  width: 30%;
  color: white;
  max-height: 11em;
  padding-left: 2em;
}

.other_weather_item {
  display: flex;
  justify-content: space-between;
  padding: 1em .5em;
}

.weather_item_title {
  font-size: .9em;
  padding: 0.9;
}

.forecast {
  background:rgba(24, 24, 24, 0.7);
  border-top: rgb(255, 255, 255) .08em solid;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  display:flex 
}

.weeks_forecast {
  padding: .4em 0em;
  margin: 1.5em;
  border: 1px white solid;
  width: 20%;
  text-align: center;
  border-radius: 10px;
}


.weeks_forecast:hover {
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.801); 
}

.day_of_week {
  background: rgb(75, 72, 72);
  border: 1px white solid;
  padding: 0.3em 0;
  border-radius: 50px;
  text-align: center;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
}


.temp {
  font: .7;
}



@media screen and (max-width:720px) {
  .header {
    height: 3em;
  }

  .location_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .locationt_time {
    padding: 1em;

  }

  .current_day {
    padding: 1em;
    justify-content: start;
  }

 .users_location {
   padding: 1em;
 }
}